h2 {
  width: 100vw;
  text-align: center;
  text-transform: uppercase;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 300px;
  margin: 100px 0px;
  background-image: url(../images/3d.webp);
  background-size: cover;
  color: transparent;
  background-clip: text;
  animation: anime 10s ease-in-out infinite alternate;
}
@keyframes anime {
  to {
    background-position-x: -100px;
  }
}